@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


/* Submit Button Styling */

.nav-link:hover,
a:hover {
  color: #ee2b47;
}

.btn {
  background: #af0404;
  background-image: -webkit-linear-gradient(top, #af0404, #505458);
  background-image: -moz-linear-gradient(top, #af0404, #505458);
  background-image: -ms-linear-gradient(top, #af0404, #505458);
  background-image: -o-linear-gradient(top, #af0404, #505458);
  background-image: linear-gradient(to bottom, #af0404, #505458);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Dosis", sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ebebeb;
  text-decoration: none;
  color: black;
}

/* Element Styling */

body {
  margin: 0px 0px 0px 0px;
  background: #af0404;
  width: 100%;
}

/* Header and Nav Bar Styling */

#header {
  font-family: "Play", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

#box-container-header {
  background: black;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: center;
}

#header-img {
  display: inline-block;
  height: 79px;
  width: 79px;
}

#nav-bar {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: auto;
}

.nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-weight: normal;
  padding: 0px 25px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ebebeb;
  text-decoration: none;
}

/* Features Section Styling */

#features-section {
  padding: 0;
  margin: 2rem 0rem 1rem 0rem;
  background: black;
}

.features {
  text-align: center;
  padding: 5% 5%;
  margin: 3rem 0rem 1rem 0rem;
}

.feature-text {
  color: #ee2b47;
  font-family: "Rubik", sans-serif;
}

.feature-icon {
  color: #ee2b47;
  padding: 0.2rem;
}


h1 {
  font-family: "Dosis", sans-serif;
  margin: 5px;
}

/* About Us Section */

.introduction {
  background: #505458;
  padding: 5px;
}

.photo1 {
  background: #505458;
  padding: 5px 0px 5px 100px;
}

.dick-jones-ocp {
  width: 450px;
  height: 300px;
  margin: 20px 0 0 0;
}

.description {
  font-family: "Rubik", sans-serif;
  color: #ebebeb;
  margin: 10px;
}

/* Delta City Section */

.product1 {
  background: #505458;
  padding: 5px;
}

/* RoboCop Section */

.product2 {
  background: #505458;
  /* padding: 10px; */
}

.robocop-deltacity {
  width: 317px;
  height: 331px;
  margin: 10px;
  text-align: center;
}

.photo2 {
  background: #505458;
  padding: 5px 0px 5px 100px;
}

/* Contact Form Styling */

form {
  font-family: "Rubik", sans-serif;
  color: #ebebeb;
  padding-left: 30px;
}

.form-instructions {
  font-family: "Rubik", sans-serif;
  color: #ebebeb;
  padding-left: 10px;
}

.contact-form {
  background: #ee0e51;
}

#video {
  padding: 0px;
}

/* Footer Styling */

.main-footer {
  background: black;
  padding: 32px;
  text-align: center;
  width: 100%;
}

.legalmumbojumbo {
  font-family: "Play", sans-serif;
  color: #ebebeb;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-link {
  font-family: "Play", sans-serif;
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  color: #ebebeb;
}


@media (max-width: 768px) {
  
  .nav-link {
    font-weight: normal;
    padding: 0px 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ebebeb;
    text-decoration: none;
  }

  #header-img {
    display: inline-block;
    height: 60px;
    width: 60px;
  }

  .photo1 {
    padding: 10px;
  }

  .dick-jones-ocp {
    width: 225px;
    height: 150px;
    margin: 10px;
  }

  .photo2 {
    padding: 0;
  }

  .robocop-deltacity {
    width: 159px;
    height: 165px;
    margin: 10px;
    text-align: center;
  }

  #video {
    padding: 0;
    width: 280px;
    height: 157px;
  }

  .main-footer {
    background: black;
    padding: 32px;
    text-align: center;
    width: 100%;
  }

  .main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .footer-link {
    font-family: "Play", sans-serif;
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: #ebebeb;
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .dick-jones-ocp {
    width: 360px;
    height: 240px;
    margin: 20px 0 0 0;
  }
}
